html, body {
  height: 100%;
  margin: 0; /* Removes the default margin */
}

#root, .App {
  height: 100%;
}

.chat-container {
  width: 70%;
  margin: auto;
  background-color: white; /* Background color is white */
  display: flex;
  flex-direction: column;
  height: 100vh; /* This will make it cover the full viewport height */
  box-sizing: border-box; /* Includes padding and border in the element's height */
  border: none; /* Remove the border */
}

.chat-header {
  background-color: #55BB44;
  color: white;
  padding: 20px; /* Taller header */
  display: flex;
  align-items: center; /* Center items vertically */
}

.chat-messages {
  flex-grow: 1; 
  display: flex;
  flex-direction: column-reverse;
  padding: 20px;
  overflow-y: auto;
}

.chat-input {
  border-top: 1px solid #ccc;
  padding: 10px;
  display: flex;
}

.chat-input input {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
}

.chat-input button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #228855;
  color: white;
  cursor: pointer;
}

.chat-input button:hover {
  background-color: #BC2C1A;
}

.chat-bubble {
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 10px;
  max-width: 80%;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
}

.user {
  background-color: #A0D5B0;
  color: #000000 !important;
  float: right;
  align-self: flex-end;
}

.bot {
  background-color: #D7F5E0;
  color: #000000 !important;
  float: left;
  align-self: flex-start;
}

.input-container {
  margin-top: 10px;
  display: flex;
  gap: 10px;
}

.input-container input {
  flex: 1;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
}

.input-container button {
  padding: 10px 15px;
  margin-bottom: 15px;
  background-color: #BC2C1A;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  outline: none;
}

/* Send Button Hover Effect */
.input-container button:hover {
  background-color: #F3655F;
}

.header-image {
  width: 10vh; /* Adjust the width as needed */
  height: 10vh; /* Adjust the height as needed */
  margin-right: 10px;
}

.header-text {
  flex-grow: 1; /* Allow the text to grow and fill the remaining space */
}