html, body {
  height: 100%;
  margin: 0; /* Removes the default margin */
}

#root, .App {
  height: 100%;
}

.chat-container {
  width: 100%;
  max-width: 600px;
  margin: auto;
  border: 1px solid #ccc;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  height: 100vh; /* This will make it cover the full viewport height */
  box-sizing: border-box; /* Includes padding and border in the element's height */
}


.chat-header {
  background-color: #003366;
  color: white;
  padding: 10px;
}

.chat-messages {
  flex-grow: 1;
  padding: 20px;
  overflow-y: auto;
}

.chat-input {
  border-top: 1px solid #ccc;
  padding: 10px;
  display: flex;
}

.chat-input input {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
}

.chat-input button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

.chat-input button:hover {
  background-color: #0056b3;
}
